
@{
    ViewBag.Title = "ListBook";
}

<h2>ListBook</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ListBook</title>
</head>
<body>
    <div>
        <ul>
            @{ int i = 1;}
            @foreach (var item in ViewBag.Books)
            {
            <li>@i - <b>item</b></li> 
                i++;
            }
            
        </ul>
    </div>
</body>
</html>

